#cloud-config
users:
    - name: yc-user
      groups: sudo,docker
      sudo: ALL=(ALL) NOPASSWD:ALL
      hashed_passwd: ${yc-user-passwd}
      lock_passwd: false
      shell: /bin/bash
      ssh-authorized-keys:
          - ${yc-user-ssh-key}

    - name: github-ci
      groups: docker
      sudo: ALL=(ALL) NOPASSWD:ALL
      hashed_passwd: ${github-ci-passwd}
      lock_passwd: false
      shell: /bin/bash
      ssh-authorized-keys:
          - ${github-ci-ssh-key}

runcmd:
    - sudo docker swarm init
