# vim: set filetype=sh:

export YC_IAM_TOKEN=$(yc iam create-token)
export YC_CLOUD_ID=$(yc config get cloud-id)
export YC_FOLDER_ID=$(yc config get folder-id)
export YC_S3_ACCESS_KEY=$(op read "op://Development/yandex-cloud.s3-bucket.terraform-states/access-key")
export YC_S3_SECRET_KEY=$(op read "op://Development/yandex-cloud.s3-bucket.terraform-states/secret-key")
export YC_S3_TF_STATES_BUCKET="terraform-states-b1gcj63q69dgi7jup4i5"
export YC_S3_ENDPOINT="https://storage.yandexcloud.net"

export AWS_ACCESS_KEY_ID=$YC_S3_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$YC_S3_SECRET_KEY
