#cloud-config
users:
  - name: yc-user
    groups: sudo,microk8s
    sudo: ALL=(ALL) NOPASSWD:ALL
    hashed_passwd: ${yc_user_passwd}
    lock_passwd: false
    shell: /bin/bash
    ssh_authorized_keys:
      - ${yc_user_ssh_key}

write_files:
  - path: /etc/ssh/sshd_config.d/extra.conf
    content: |
      AllowUsers yc-user
      PermitRootLogin no
      PasswordAuthentication no
      Port 51222
    owner: root:root
    permissions: '0644'

  - path: /etc/profile.d/extra.sh
    content: |
      export ENV="dev"
    owner: root:root
    permissions: '0644'

  - path: /home/yc-user/.bash_aliases
    content: |
      # Kubernetes aliases
      alias k='microk8s kubectl'
      alias kgp='microk8s kubectl get pods'
      alias kgs='microk8s kubectl get services'
      alias kgn='microk8s kubectl get nodes'
      alias kga='microk8s kubectl get all'
    owner: yc-user:yc-user
    permissions: '0644'

runcmd:
  - |
    apt update \
      && apt upgrade -y \
      && apt install -y snapd
  - snap install microk8s --classic
  - |
    mkdir -p /home/yc-user/.kube \
    && chown yc-user:microk8s /home/yc-user/.kube
  - microk8s status --wait-ready

