#cloud-config
users:
  - name: yc-user
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    hashed_passwd: ${yc_user_passwd}
    lock_passwd: false
    shell: /bin/bash
    ssh_authorized_keys:
      - ${yc_user_ssh_key}

write_files:
  - path: /etc/ssh/sshd_config.d/extra.conf
    content: |
      AllowUsers yc-user
      PermitRootLogin no
      PasswordAuthentication no
      Port 51222
    owner: root:root
    permissions: "0644"

  - path: /etc/profile.d/extra.sh
    content: |
      export ENV="dev"
    owner: root:root
    permissions: "0644"

runcmd:
  - apt update && apt upgrade -y

  # Install snap demon
  - apt install -y snapd

  # Install MicroK8s
  - snap install microk8s --classic

  # Wait until for microk8s to be ready
  - microk8s status --wait-ready

  # Add user to microk8s group
  - usermod -aG microk8s yc-user

  # Create .kube directory
  - mkdir -p /home/yc-user/.kube
  - chown -R yc-user:yc-user /home/yc-user/.kube

  # Setup some useful aliases for yc-user
  - |
    cat <<EOF > /home/yc-user/.bash_aliases
      alias kubectl='microk8s kubectl'
      alias k='kubectl'
      alias m='microk8s'
    EOF
  - chown yc-user:yc-user /home/yc-user/.bash_aliases

  # Enable microk8s key components
  - microk8s enable dns dashboard hostpath-storage

final_message: "System initialized successfully"
