#cloud-config
users:
  - name: yc-user
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    hashed_passwd: ${yc_user_passwd}
    lock_passwd: false
    shell: /bin/bash
    ssh_authorized_keys:
      - ${yc_user_ssh_key}

write_files:
  - path: /etc/ssh/sshd_config.d/extra.conf
    content: |
      AllowUsers yc-user
      PermitRootLogin no
      PasswordAuthentication no
      Port 51222
    owner: root:root
    permissions: '0644'

  - path: /etc/profile.d/extra.sh
    content: |
      export ENV="dev"
    owner: root:root
    permissions: '0644'

runcmd:
  - curl https://raw.githubusercontent.com/leonidgrishenkov/install-docker/refs/heads/main/ubuntu/latest/root/install.sh > /tmp/install-docker.sh
  - chmod +x /tmp/install-docker.sh
  - /tmp/install-docker.sh
  - usermod -aG docker yc-user
